.idea/
.DS_Store
Part 1 - Data Preprocessing/venv/
Part 2 - Regression/Section 10 - Evaluating Regression Models Performance/Regression-Pros-Cons.pdf
Part 2 - Regression/Section 10 - Evaluating Regression Models Performance/Regularization.pdf
Part 8 - Deep Learning/Section 39 - Artificial Neural Networks (ANN)/venv/
Part 8 - Deep Learning/Section 40 - Convolutional Neural Networks (CNN)/dataset/test_set/
Part 8 - Deep Learning/Section 40 - Convolutional Neural Networks (CNN)/dataset/training_set/
